body{
    margin: 0px;
}

footer {
    position: absolute;
    width: 100%;
    margin-top: 250px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 15px;
}

footer a{
    text-decoration: none;
    color: inherit;
}

/*specific styles*/

.footer-outer-container{
    background-color: #010c80;
    color: white;
    padding: 40px;
    margin: 0px;
}

.footer-inner-container{
    display: flex;
    flex-wrap: wrap;
    
}

.footer-col{
    display: flex;
    width: auto;
    padding: 10px;
    align-items: center;
}

.footer-col-qlinks{
    
    width: 200px;
    height: 150px;
}

.footer-col-follow{
    
    width: 200px;
    height: 150px;
}

.footer-col-phone{
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 115px;
}

.footer-col-address{
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 115px;
}

.footer-col-email{
    display:flex;
    flex-direction: column;
    width: 200px;
    height: 115px;
}

.img{

    position:absolute;
    top: 70px;
    right: 50px;
    width: 250px;
    height:50px;
    
    
}


#text-icons{
    display: flex;
    align-items: top;
}

.footer-col i{
    margin: 10px 10px 10px 0px;
}